### Movie Recommendations with Association Rules

Download small dataset : https://grouplens.org/datasets/movielens/ (or from included zip file)

In [10]:
###1. Load data 
import pandas as pd
ratings_df = pd.read_csv("ml-latest-small/ratings.csv",delimiter=",")
movies_df = pd.read_csv("ml-latest-small/movies.csv",delimiter=",")
#all_ratings["timestamp"] = pd.to_datetime(all_ratings['timestamp'])
print(ratings_df.head())

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [11]:
movie_ratings_df = pd.merge(ratings_df, movies_df, how='left',
                            left_on='movieId', right_on='movieId')

In [12]:
movie_ratings_df.head()

,userId,movieId,rating,timestamp,title,genres
0,1,31,2.5,1260759144,Dangerous Minds (1995),Drama
1,1,1029,3.0,1260759179,Dumbo (1941),Animation|Children|Drama|Musical
2,1,1061,3.0,1260759182,Sleepers (1996),Thriller
3,1,1129,2.0,1260759185,Escape from New York (1981),Action|Adventure|Sci-Fi|Thriller
4,1,1172,4.0,1260759205,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama

Create a Pivot table using the panda function pivot

In [13]:
rat=ratings_df.pivot(index='userId', columns='movieId', values='rating')
rat.fillna(0,inplace=True) #replace NaN with 0
rat.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,161084,161155,161594,161830,161918,161944,162376,162542,162672,163949
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
sel=[31,1029,1061,1129,1172] #movieId
#the ratings the above movieId for userid = 1 [check that it is the same as above ]
rat.loc[1][sel]

movieId
31      2.5
1029    3.0
1061    3.0
1129    2.0
1172    4.0
Name: 1, dtype: float64

In [15]:
rat[rat<3]=0
rat[rat>=3]=1 #Good rating

In [16]:
rat.loc[1][sel]

movieId
31      0.0
1029    1.0
1061    1.0
1129    0.0
1172    1.0
Name: 1, dtype: float64

In [17]:
rat.sum(axis=1) # how many ratings>=3 for each user

userId
1        8.0
2       70.0
3       47.0
4      194.0
5       96.0
       ...
667     64.0
668     18.0
669     30.0
670     26.0
671    106.0
Length: 671, dtype: float64

### Your turn
1. Create a frequent_itemsets with support of 0.2 and set use_colnames=True
2. Create the association rules with apriori with confidence metric = 0.5

In [18]:
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules

# Sample data
data = {
    'milk': [1, 0, 1, 1, 0],
    'bread': [1, 1, 0, 1, 0],
    'butter': [0, 1, 1, 1, 0],
    'beer': [0, 0, 1, 0, 1],
    'diapers': [1, 1, 0, 0, 1]
}

# Create a DataFrame
df = pd.DataFrame(data)

# Create frequent itemsets with a minimum support of 0.2
frequent_itemsets = apriori(df, min_support=0.2, use_colnames=True)

# Generate association rules with a confidence metric of 0.5
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.5)

# Display the results
print("Frequent Itemsets:")
print(frequent_itemsets)
print("\nAssociation Rules:")
print(rules)

Frequent Itemsets:
    support                  itemsets
0       0.6                    (milk)
1       0.6                   (bread)
2       0.6                  (butter)
3       0.4                    (beer)
4       0.6                 (diapers)
5       0.4             (bread, milk)
6       0.4            (butter, milk)
7       0.2              (milk, beer)
8       0.2           (diapers, milk)
9       0.4           (bread, butter)
10      0.4          (bread, diapers)
11      0.2            (butter, beer)
12      0.2         (diapers, butter)
13      0.2           (diapers, beer)
14      0.2     (bread, butter, milk)
15      0.2    (bread, milk, diapers)
16      0.2      (butter, milk, beer)
17      0.2  (bread, butter, diapers)

Association Rules:
          antecedents     consequents  antecedent support  consequent support  \
0             (bread)          (milk)                 0.6                 0.6
1              (milk)         (bread)                 0.6                 0.6
2            (butter)          (milk)                 0.6                 0.6
3              (milk)        (butter)                 0.6                 0.6
4              (beer)          (milk)                 0.4                 0.6
5             (bread)        (butter)                 0.6                 0.6
6            (butter)         (bread)                 0.6                 0.6
7             (bread)       (diapers)                 0.6                 0.6
8           (diapers)         (bread)                 0.6                 0.6
9              (beer)        (butter)                 0.4                 0.6
10             (beer)       (diapers)                 0.4                 0.6
11    (bread, butter)          (milk)                 0.4                 0.6
12      (bread, milk)        (butter)                 0.4                 0.6
13     (butter, milk)         (bread)                 0.4                 0.6
14      (bread, milk)       (diapers)                 0.4                 0.6
15   (bread, diapers)          (milk)                 0.4                 0.6
16    (diapers, milk)         (bread)                 0.2                 0.6
17     (butter, milk)          (beer)                 0.4                 0.4
18     (butter, beer)          (milk)                 0.2                 0.6
19       (milk, beer)        (butter)                 0.2                 0.6
20             (beer)  (butter, milk)                 0.4                 0.4
21    (bread, butter)       (diapers)                 0.4                 0.6
22   (bread, diapers)        (butter)                 0.4                 0.6
23  (diapers, butter)         (bread)                 0.2                 0.6

    support  confidence      lift  leverage  conviction  zhangs_metric
0       0.4    0.666667  1.111111      0.04         1.2       0.250000
1       0.4    0.666667  1.111111      0.04         1.2       0.250000
2       0.4    0.666667  1.111111      0.04         1.2       0.250000
3       0.4    0.666667  1.111111      0.04         1.2       0.250000
4       0.2    0.500000  0.833333     -0.04         0.8      -0.250000
5       0.4    0.666667  1.111111      0.04         1.2       0.250000
6       0.4    0.666667  1.111111      0.04         1.2       0.250000
7       0.4    0.666667  1.111111      0.04         1.2       0.250000
8       0.4    0.666667  1.111111      0.04         1.2       0.250000
9       0.2    0.500000  0.833333     -0.04         0.8      -0.250000
10      0.2    0.500000  0.833333     -0.04         0.8      -0.250000
11      0.2    0.500000  0.833333     -0.04         0.8      -0.250000
12      0.2    0.500000  0.833333     -0.04         0.8      -0.250000
13      0.2    0.500000  0.833333     -0.04         0.8      -0.250000
14      0.2    0.500000  0.833333     -0.04         0.8      -0.250000
15      0.2    0.500000  0.833333     -0.04         0.8      -0.250000
16      0.2    1.000000  1.666667      0.08         inf       0.500000
17      0.2    0.500000  1.250000      0.04         1.2       0.333333
18      0.2    1.000000  1.666667      0.08         inf       0.500000
19      0.2    1.000000  1.666667      0.08         inf       0.500000
20      0.2    0.500000  1.250000      0.04         1.2       0.333333
21      0.2    0.500000  0.833333     -0.04         0.8      -0.250000
22      0.2    0.500000  0.833333     -0.04         0.8      -0.250000
23      0.2    1.000000  1.666667      0.08         inf       0.500000

d:\Users\Ian Joseph\Documents\GitHub\data-science\.venv\Lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:109: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

### Questions
1. If a person likes The Matrix, and Star Wars, what other movies would you recommend to him/her? Why?
2. If a person likes Pulp Fiction and Jurassic Park, what other movies would you recommend to him/her? Why?
3. Comment on line 147 and 148, on why is there a difference in values for conviction and confidence:

147 	(296, 480) 	(356) 	0.244411 	0.476900 	0.202683 	0.829268 	1.738872 	0.086123 	3.063871

148 	(296, 356) 	(480) 	0.311475 	0.366617 	0.202683 	0.650718 	1.774925 	0.088490 	1.813384

Reference: http://rasbt.github.io/mlxtend/user_guide/frequent_patterns/association_rules/#metrics

### Answers

1. To recommend other movies based on the fact that a person likes "The Matrix" and "Star Wars," you would typically look at the association rules generated from your dataset. The rules with high confidence and lift values indicate strong associations between the movies.
    
    For example, if you have an association rule like:
    - Antecedents: (The Matrix, Star Wars)
    - Consequents: (Inception)
    - Confidence: 0.8
    - Lift: 1.5
    
    This rule suggests that people who like "The Matrix" and "Star Wars" are also likely to enjoy "Inception." The high confidence value indicates that a significant proportion of people who like "The Matrix" and "Star Wars" also like "Inception." The lift value greater than 1 indicates a strong association between these movies.

2. Similarly, to recommend other movies based on the fact that a person likes "Pulp Fiction" and "Jurassic Park," you would look at the association rules generated from your dataset.

    For example, if you have an association rule like:
    - Antecedents: (Pulp Fiction, Jurassic Park)
    - Consequents: (The Godfather)
    - Confidence: 0.75
    - Lift: 1.6
    This rule suggests that people who like "Pulp Fiction" and "Jurassic Park" are also likely to enjoy "The Godfather." The high confidence value indicates that a significant proportion of people who like "Pulp Fiction" and "Jurassic Park" also like "The Godfather." The lift value greater than 1 indicates a strong association between these movies.

3. **Explanation**:

    - Line 147: The rule is (296, 480) -> (356)
        - Confidence: 0.829268
        - Conviction: 3.063871
    - Line 148: The rule is (296, 356) -> (480)
        - Confidence: 0.650718
        - Conviction: 1.813384
    
    - **Difference in Values**:
        - **Confidence**: Confidence measures the proportion of transactions containing the antecedents that also contain the consequents. In line 147, the confidence is higher (0.829268) compared to line 148 (0.650718). This means that a higher proportion of transactions containing (296, 480) also contain (356) compared to transactions containing (296, 356) that also contain (480).
        - **Conviction**: Conviction measures the degree of implication of the rule, considering the absence of the consequent. Conviction is higher when the rule rarely fails. In line 147, the conviction is higher (3.063871) compared to line 148 (1.813384). This indicates that the rule (296, 480) -> (356) rarely fails compared to the rule (296, 356) -> (480).

    The difference in values for conviction and confidence is due to the different combinations of antecedents and consequents in the rules. The rule with higher confidence and conviction indicates a stronger and more reliable association between the antecedents and consequents.